*.vrb
*.glob
*.d
*.vo
/math-abstractions.aux
/math-abstractions.log
/math-abstractions.out
/math-abstractions.pdf
/math-abstractions.snm
/math-abstractions.tex
/math-abstractions.toc
/math-abstractions.upa
/Makefile.coq
/html/
